*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{
background:transparent;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{

width:360px;
height:340px;

border:1px solid #111;
border-radius:18px;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

background:white;
}

.clock{

width:180px;
height:180px;

position:relative;
border-radius:50%;
}

.ticks{
position:absolute;
inset:0;
}

.ticks span{
position:absolute;
left:50%;
top:50%;
width:1.5px;
height:10px;
background:#d6d6d6;
transform-origin:center -80px;
}

.hand{

position:absolute;

left:50%;
top:50%;

transform-origin:bottom center;

border-radius:20px;
}

.hour{
width:3px;
height:48px;
background:#222;
margin-left:-1.5px;
margin-top:-48px;
}

.minute{
width:2.5px;
height:68px;
background:#444;
margin-left:-1.25px;
margin-top:-68px;
}

.second{
width:1.5px;
height:74px;
background:#666;
margin-left:-0.75px;
margin-top:-74px;
}

.center{
position:absolute;
width:11px;
height:11px;
background:#111;
border-radius:50%;
left:50%;
top:50%;
transform:translate(-50%,-50%);
}

#digital{
margin-top:12px;
font-size:18px;
font-weight:600;
}

#day{
margin-top:4px;
font-size:16px;
}
