*{
box-sizing:border-box;
margin:0;
padding:0;
font-family:Inter,sans-serif;
}

body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:transparent;
}

.card{

width:360px;
height:360px;

border:1px solid #111;
border-radius:22px;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

background:#fff;
}

svg{
width:230px;
height:230px;
overflow:visible;
}

#hour{
stroke:#333;
stroke-width:4;
stroke-linecap:round;
}

#minute{
stroke:#444;
stroke-width:3;
stroke-linecap:round;
}

#second{
stroke:#666;
stroke-width:2;
stroke-linecap:round;
}

circle{
fill:#111;
}

.tick{
stroke:#ddd;
stroke-width:2;
stroke-linecap:round;
}

#digital{

margin-top:12px;

font-size:20px;
font-weight:700;
}

#day{

margin-top:4px;

font-size:16px;
font-weight:500;
}
